<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<style>
.banner {
height: 80px;
background-color: darkblue;
clear: both;
}

.left {
float: left;
width: 20%;
height: 800px;
background-color: blue;
}

.content {
float: left;
width: 60%;
background-color: lightgray;
height: 800px
}

.right {
float:left;
width: 20%;
height: 800px;
background-color: yellow;

}

</style>

<script>
	function myclick() {
		console.log("clicked");
		componentPanel.init("text");
	}

</script>

</head>
<body ng-app="show_page">

	<div class="banner">

	<input type="button" value="测试初始化" onclick="myclick()"/>

	</div>
	

	<div class="left" ng-controller="leftCtrl">
		
	</div>

	<div class="content" ng-controller="contentCtrl">

	</div>

	<div class="right">

		<div id="textDiv" ng-controller="textController as text">
			<button id="initText" ng-click="text.init()" class="ng-hide">Init</button>
			<button id="updateText" ng-click="text.update()" class="ng-hide">Update</button>
			x <input type="number" ng-model="text.currentComponent.x" ng-change="text.changeX()"/> <br>
			y <input type="number" ng-model="text.currentComponent.y" ng-change="text.changeY()"/> <br>
			width <input type="number" ng-model="text.currentComponent.width" ng-change="text.changeWidth()"/> <br>
			height <input type="number" ng-model="text.currentComponent.height" ng-change="text.changeHeight()" /> <br>
			text <input type="text" ng-model="text.currentComponent.text" ng-change="text.changeText()" /> <br>
		</div>
		<hr />
		<div id="imgDiv" ng-controller="imgController as img">
			<button id="initImg" ng-click="img.init()" class="ng-hide">Init</button>
			<button id="updateImg" ng-click="img.update()" class="ng-hide">Update</button>
			x <input type="number" ng-model="img.currentComponent.x" ng-change="img.changeX()"/> <br>
			y <input type="number" ng-model="img.currentComponent.y" ng-change="img.changeY()"/> <br>
			width <input type="number" ng-model="img.currentComponent.width" ng-change="img.changeWidth()"/> <br>
			height <input type="number" ng-model="img.currentComponent.height" ng-change="img.changeHeight()" /> <br>
			text <input type="text" ng-model="img.currentComponent.text" ng-change="img.changeText()" /> <br>
		</div>

	</div>


</body>

<script>

</script>

<script type="text/javascript" src="engine.js"></script>
</html>
